<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="import-form" action="/fileUpload" method="post" enctype="multipart/form-data">
    <input th:name="file" type="file" id="import" />
    <button>Upload</button>
</form>
<div th:if="${map}!= null">

<table>
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the map entries and display each key-value pair -->
    <tr th:each="entry : ${map}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
    <table>
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the map entries and display each key-value pair -->
    <tr th:each="entry : ${levenshteinDistance}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>